{% extends 'homeblog/layout.html' %}

{% block title %} Education {% endblock %}
{% block name %} Education {% endblock %}

{% block body %}
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="padding: 30px;">
          <h2 class="mt-5 lead"><strong>Certifications</strong></h2><hr>
          <ul>
              <li><a href="https://courses.edx.org/certificates/57a0c8697bf94468a77bdf3e1b5016b0" target="_blank">CS50's Introduction to Computer Science</a></li>
              <li><a href="https://courses.edx.org/certificates/afad4f9bfdf94878b97aac4fea66faec" target="_blank">Introduction to Computation and Programming using Python</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/certificate/S6K279R2QF92" target="_blank">HTML, CSS, and JavaScript for Web Developers</a></li>
              <li><a href="https://courses.edx.org/certificates/e3c218e7ab0744219f1245ab4b259cea" target="_blank">Computer Science 101</a></li>
              <li><a href="https://courses.edx.org/certificates/de27b88ece624aec9df06636dab982ba" target="_blank">MATLAB & Octave for Beginners</a></li>
            </ul>
      </div>

      <div class="col-md-6" style="padding: 30px;">
        <h2 class="mt-5 lead"><strong>Honors &amp; Awards</strong></h2><hr>
        <ul>
            <li>President of <strong>Environmental Protection Society</strong></li>
            <li>President of <strong>Science and Technology Club</strong></li>
            <li>Member of <strong>Distric Nature Club, Wildlife Dept.</strong></li>
        </ul>
      </div>

      </div>
    </div>
    </main>
{% endblock %}