{% extends 'homeblog/layout.html' %}

{% block title %} Education {% endblock %}
{% block name %} Education {% endblock %}

{% block body %}
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="padding: 30px;">
            <h2 class="mt-5" >Rowan University</h2>
            <p style="line-height: 0;">Glassboro, NJ, United States</p><hr>
            <p class="lead" style="padding-top: 50px; line-height: 0;"><strong>B.Sc Computer Science</strong></p>
            <p style="line-height: 0.8; font-size: 0.9em;">Sept. 2020 - Aug 2024</p>
            <img src="static/blog/rowan.jpg" alt="institution image" width="80%">
        </div>

        <div class="col-md-6" style="padding: 30px;">
            <h2 class="mt-5">Islamia College Peshawar</h2>
            <p style="line-height: 0;">Peshawar, KP, Pakistan</p><hr>
            <p class="lead" style="padding-top: 50px; line-height: 0;"><strong>A levels Pre-Engineering</strong></p>
            <p style="line-height: 0.8; font-size: 0.9em;">Aug 2016 - Aug 2018</p>
            <img src="static/blog/icp.jpg" alt="institution image" width="80%">
        </div>

      </div>
    </div>
    </main>
{% endblock %}