{% extends 'homeblog/layout.html' %}

{% block title %} Skills {% endblock %}
{% block name %} Skills {% endblock %}

{% block body %}
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">

        <div class="col-md-6" style="padding: 30px;">
            <h2 class="mt-5 lead"><strong>Programming Skills</strong></h2><hr>
            <ul>
                <li>Python</li>
                <li>C</li>
                <li>Java</li>
                <li>HTML, CSS, JavaScript</li>
                <li>MATLAB</li>
                <li>Octave</li>
                <li>SQLite</li>
                <li>Markdown</li>
              </ul>
            <p class="lead"><strong>Web Frameworks</strong></p><hr>
            <ul>
                <li>Django</li>
                <li>Flask</li>
            </ul>

        </div>

        <div class="col-md-6" style="padding: 30px;">
          <h2 class="mt-5 lead"><strong>Microsoft Office 365</strong></h2><hr>
          <ul>
              <li>Microsoft Excel</li>
              <li>Microsoft Word</li>
          </ul>
          <p class="lead"><strong>Interests</strong></p><hr>
          <ul>
              <li>Git</li>
              <li>GitHub</li>
              <li>CS50</li>
              <li>LinkedIn Learning</li>
              <li>Khan Academy</li>
              <li>CollegeBoard</li>
              <li>edX</li>
              <li>Coursera</li>
          </ul>
        </div>

      </div>
    </div>
    </main>
{% endblock %}