body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 50px;
    font-size: xx-large;
    background-color: rgb(245,245,245);
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

#text, #result, #back {
    font-weight: bold;
}

span {
    color: tomato;
    font-weight: bold;
}